<?xml version="1.0"?>
<!--
/**
 * HTS Inc.
 *
 * @category  HTS
 * @package   HTS_Marketplace
 * @author    HTS
 * @copyright Copyright (c) HTS Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="hts_marketplace_customer_register_success_observer" instance="Hts\Marketplace\Observer\CustomerRegisterSuccessObserver" />
    </event>
    <event name="catalog_product_delete_after_done">
        <observer name="hts_marketplace_catalog_product_delete_after_observer" instance="Hts\Marketplace\Observer\CatalogProductDeleteAfterObserver" />
    </event>
    <event name="customer_delete_commit_after">
        <observer name="hts_marketplace_customer_delete_commit_after_observer" instance="Hts\Marketplace\Observer\CustomerDeleteCommitAfterObserver" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="hts_marketplace_adminhtml_customer_save_after_observer" instance="Hts\Marketplace\Observer\AdminhtmlCustomerSaveAfterObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="hts_marketplace_sales_order_place_after_observer" instance="Hts\Marketplace\Observer\SalesOrderPlaceAfterObserver" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="hts_marketplace_sales_order_success_observer" instance="Hts\Marketplace\Observer\SalesOrderSuccessObserver" />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="hts_marketplace_sales_order_invoice_save_after_observer" instance="Hts\Marketplace\Observer\SalesOrderInvoiceSaveAfterObserver" />
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="hts_marketplace_sales_order_save_commit_after_observer" instance="Hts\Marketplace\Observer\SalesOrderSaveCommitAfterObserver" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="hts_marketplace_sales_order_creditmemo_save_after_observer" instance="Hts\Marketplace\Observer\SalesOrderCreditmemoSaveAfterObserver" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="hts_marketplace_catalog_product_save_after_observer" instance="Hts\Marketplace\Observer\CatalogProductSaveAfterObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="seller_login" instance="Hts\Marketplace\Observer\SellerLoginObserver" />
    </event>
    <event name="controller_action_predispatch_marketplace_account_editProfile">
        <observer name="hts_b2bmarketplace_controller_action_marketplace_account_editProfile_predispatch" instance="Hts\Marketplace\Observer\MpSellertEditProfilePredispatchObserver" />
    </event>
</config>
